@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
    background-color: white;
}
a {
	text-decoration: none;
    cursor: pointer;
}
a:hover {
    background-color: var(--black);
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
    overflow: hidden;
}
p {
	color: black;
	font-size: 1.6rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
}
span {
    color: var(--other-blue);
}
:root {
    --black: #141414;
    --other-white: rgb(234, 234, 234);
    --other-blue: rgb(51, 79, 180);
}
#hero h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
h3 {
    font-size: 1.8rem;
}
h4 {
    font-size: 1.3rem;
}


/* Hero Section */

#hero {
    background-image: url(../IMG/WhatsApp\ Image\ 2023-06-02\ at\ 01.47.52.jpeg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
    display: flex;
    justify-content: center;
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
#hero .hero-container {
    height: 90vh;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}
#hero .hero-container h1 {
    font-size: 5rem;
    letter-spacing: .1rem;
    color: white;
    margin-bottom: 20px;
}
#hero .hero-container a {
    color: white;
    border: 3px solid white;
    font-size: 2.5rem;
    border-radius: 10px;
    padding: 10px 40px;
    letter-spacing: .1rem;
}
#hero .hero-container a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* End Hero Section */

/* Main Product Section */

#main-product {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-product {
    width: 100%;
    max-width: 1200px;
    margin: 52px 0px;
    padding: 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}
.main-product .main-product-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-product .main-product-gallery div {
    width: 100%;
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
    grid-template-rows: auto;
}
.main-product .main-product-buy_process {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 12px;
}
.main-product .main-product-buy_process .main-product-price {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-product .main-product-buy_process .main-product-price p {
    font-weight: 600;
}
.main-product .main-product-buy_process .main-product-price p:nth-child(1) {
    font-size: 1.3rem;
    margin-right: 12px;
    text-decoration: line-through;
}
.main-product .main-product-buy_process .main-product-sale_indicator {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 12px;
}
.main-product .main-product-buy_process .main-product-sale_indicator h4 {
    text-transform: uppercase;
    background-color: var(--other-blue);
    border-radius: 4rem;
    color: white;
    padding: .5rem 1.3rem .6rem;
}
.main-product .main-product-buy_process h4 {
    margin-bottom: 8px;
}
.main-product .main-product-buy_process .main-product-memory {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}
.main-product .main-product-buy_process .main-product-memory p {
    margin: .7rem .5rem .2rem 0;
    padding: 1rem 2rem;
    background-color: white;
    color: black;
    border-radius: 4rem;
    border: 1px solid black;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 12px;
    cursor: pointer;
}
.main-product .main-product-buy_process .main-product-memory p:nth-child(1) {
    background-color: black;
    color: white;
}
.main-product .main-product-buy_process a {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--black);
    color: white;
    margin-bottom: 12px;
}
.main-product .main-product-buy_process a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.main-product .main-product-buy_process .main-product-info_activator {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 500px;
    cursor: pointer;
    background-color: white;
    height: 20px;
}
.main-product .main-product-buy_process .main-product-info_activator:hover {
    border: none;
}
.main-product .main-product-buy_process .main-product-info_activator:hover h4 {
    border: none;
    border-bottom: 1px solid black;
}
.main-product .main-product-buy_process .main-product-info_activator h4:hover {
    border-bottom: 1px solid black;
}
.main-product .main-product-buy_process .main-product-info_activator h4 {
    margin-bottom: 0px;
    margin-right: 12px;
    color: black;
}
.main-product .main-product-buy_process .main-product-info_activator img {
    height: 20px;
    width: 20px;
}

/* End Main Product Section */

/* Products Section */

.products-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
}
.products-container h2 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.products-container .products-container_links {
    width: 100%;
    max-width: 1200px;
    padding: 0px 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.products-container .products-container_links a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 12px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: var(--black);
}
.products-container .products-container_links a:hover {
    background-color: white;
}
.products-container .products-container_links a:hover h3 {
    color: black;
}
.products-container .products-container_links a img {
    border-radius: 20px 20px 0 0;
}
.products-container .products-container_links a h3 {
    padding: 8px 0;
    color: white;
    font-weight: bolder;
}

/* End Products Section */

/* About Section */

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    padding: 0px 20px;
    margin-bottom: 20px;
}
.about-container h2 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.about-container .about-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-container .about-info .about-info_img {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-bottom: 24px;
    max-width: 300px;
}
.about-container .about-info .about-info_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* End About Section */

/* Footer */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--black);
    width: 100%;
    padding-bottom: 12px;
}
.footer-container .footer-social_network-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.footer-container .footer-social_network-icons a {
    height: 48px;
    width: 48px;
    filter: grayscale(1);
}
.footer-container .footer-social_network-icons a:hover {
    filter: grayscale(0);
    background-color: var(--black);
}
.footer-container .footer-social_network-icons a:nth-child(1) {
    margin-right: 20px;
}
.footer-container .footer-social_network-icons a:nth-child(2) {
    margin-right: 20px;
}
.footer-container h4 {
    margin-bottom: 12px;
    color: white;
    letter-spacing: 0.1rem;
}
.footer-container p {
    text-align: center;
    font-size: 1.3rem;
    color: white;
}

/* End Footer */

/* Some Media Queries */

@media only screen and (min-width: 425px) {
    /* Hero Section */

    #hero .hero-container h1 {
        text-align: center;
    }

    /* End Hero Section */
}

/* End Some Media Queries */

/* Media Query For Tablet */

@media only screen and (min-width: 768px) {

    /* Main Product Section */

    .main-product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    /* End Main Product Section*/
    /* Products Section */

    .products-container .products-container_links {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    /* End Products Section */

    /* About Section */

    .about-container .about-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* End About Section */

}

/* End Media Query For Desktop */

/* Media Query For Desktop */

@media only screen and (min-width: 1024px) {

    /* header */

	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}

	/* End header */

    /* Products Section */

    .products-container .products-container_links {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }

    /* End Products Section */

}

/* End Media Query For Desktop */